/* CUSTOM PROPERTIES */
:root{
    /* COLORS */
    /* BG COLORS */
    --bg-white: hsl(0, 0%, 100%);
    --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
    --bg-lavender-blush: hsl(0, 100%, 98%);
    --bg-majorelle-blue: #8C82FC;
    --bg-ocean-blue: hsl(250, 50%, 60%);
    --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
    --bg-misty-rose: hsl(0, 100%, 95%);
    --bg-green-salsa: #44E4C9;
    --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
    --bg-english-vermillion: #37b19d;
    --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
    --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
    --bg-gainsboro: hsl(0, 0%, 85%);

    /* TEXT COLORS */
    --text-white: hsl(0, 0%, 100%);
    --text-gunmetal: #22293E;
    --text-light-coral: #8C82FC;
    --text-granite-gray: hsl(210, 4%, 38%);
    --text-majorelle-blue: hsl(249, 95%, 63%);
    --text-sunglow: hsl(48, 100%, 50%);

    /* BORDER COLOR */
    --border-gainsboro: hsl(0, 1%, 85%);

    /* TYPOGRAPHY */
    --ff-poppins: 'Poppins', sans-serif;
    --fontSize-1: 4.2rem;
    --fontSize-2: 3.6rem;
    --fontSize-3: 2.5rem;
    --fontSize-4: 2.4rem;
    --fontSize-5: 2rem;
    --fontSize-6: 1.6rem;
    --fontSize-7: 1.5rem;

    --weight-bold: 700;
    --weight-semiBold: 600;
    --weight-medium: 500;

    /* SPACING */
    --section-spacing: 80px;
    
    /* SHADOW */
    --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
--shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
--shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
--shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);

    /* BORDER RAIDIUS */
--radius-pill: 10px;
--radius-circle: 50%;
--radius-30: 30px;
--radius-20: 20px;


    /* TRANSITION */
    --transition-1: 250ms ease;
--transition-2: 500ms ease;
--cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}

/* REUSABLE STYLE */
.container{
    padding-inline: 16px;
}

.btn{
    height: 45px;
    color: var(--text-white);
    padding-inline: 35px;
    border-radius: var(--radius-pill);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    transition: var(--transition-1);
}


.btn-primary{
    background-color: var(--bg-majorelle-blue)
}

.btn-primary:is(:hover, :focus-visible){
    background-color: var(--bg-ocean-blue);
    box-shadow: var(--shadow-2);
}

.btn-green{
    background-color: var(--bg-green-salsa);
    
}

.btn-secondary:is(:hover, :focus-visible){
    background-color: var(--bg-english-vermillion);
    box-shadow: var(--shadow-3);
}

.section{
    padding-block-end: var(--section-spacing);
}

.has-bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.title{
    font-weight: var(--weight-semiBold);
    color: var(--text-gunmetal);
    line-height: 1.45;
}

.h1{
    font-size: var(--fontSize-1);
    line-height: 1.2;
}

.h2{
    font-size: var(--fontSize-2);
}

.h3{
    font-size: var( --fontSize-4);
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-2);
}

.w-100{
    width: 100%;
}

.img-holder{
    aspect-ratio: var(--width)/ var(--height);
    background-color: var(--bg-gainsboro);
    overflow: hidden;

}







/* RESRET */
*, *::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a, img, span, button, ion-icon, input{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

input, button{
    background: none;
    border: none;
    font: inherit;
}


input{
    width: 100%;
    outline: none;
}

img{
    height: auto;
}

button{
    cursor: pointer;;
}

ion-icon{
    pointer-events: none;
}

address{
    font-style: normal;
}

html{
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-white);
    color: var(--text-granite-gray);
    font-size: var(--fontSize-6);
    line-height: 1.8;
    

}

body.nav-active{
    overflow: hidden;
}


/* PRELOADER */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-lavender-blush);
    display: grid;
    place-content: center;
    z-index: 6;
    transition: var(--transition-1);
}

.preloader.remove{
    visibility: hidden;
    opacity: 0;

}

.preloader .img{
    animation: bounce 800ms ease-in-out infinite alternate;
}

@keyframes bounce{
 0% {transform: translateY(-10px);}
 100% {transform: translateY(0);}
}

.preloader-inner{
    position: relative;
}

.preloader-inner::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10px;
    background-color: var(--bg-black-alpha-20);
    filter: blur(4px);
    z-index: -1;
    animation: dropShadow 800ms ease-in-out infinite alternate;
}


@keyframes dropShadow{
    0% {width: 40%;}
    100% {width: 80%;}
}


/* HEADER */

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: cneter;
}


.header{
    padding-block: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.header.active{
    position: fixed;
    background-color: var(--bg-white);
    box-shadow: var(--shadow-1);
    margin-block-start: -10px;
    padding-block-end: 15px;
    

    animation: slideIn 500ms ease forwards;
}

@keyframes slideIn {
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
}

.header .logo img{
    width: 100px;
}

.nav-toggle-btn{
    font-size: 3.2rem;
}

.navbar{
    position: fixed;
    top: 0;
    right: -350px;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-white);
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 400ms var(--cubic-out);
    visibility: hidden;
}

.navbar.active{
    transform: translateX(-350px);
    transition-duration: 500ms;
    visibility: visible;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-list{
    margin-block-start: 50px;
}

.navbar-link{
    position: relative;
    color: var(--text-gunmetal);
    font-size: var(--fontSize-7);
    font-weight: var(--weight-medium);
    padding-block: 8px;
    transition: var(--transition-1);
}

.navbar-link::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: var(--bg-majorelle-blue);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible, .active)::before{opacity: 1;}


.navbar-link:is(:hover, :focus-visible, .active){transform: translateX(10px);}

.header-action{
    margin-block-start: auto;
    padding-block-start: 20px;
    border-block-start: 1px solid var(--border-gainsboro);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-btn{
    color: var(--text-gunmetal);
    font-size: var(--fontSize-7);
    font-weight: var(--weight-medium);
    transition: var(--transition-1);
}

.login-btn:is(:hover, :focus-visible){
    opacity: 0.8;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-white);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
    
}

.overlay.active{
    visibility: visible;
    opacity: 0.5;
}


/* HERO */
.hero{
    padding-block-start: 120px;
}

.hero .container{
    padding-inline-start: 0;
}

.hero-subtitle{
    color: var(--text-light-coral);
    font-size: var(--fontSize-6);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    padding: 8px 20px;
    margin-block-start: 20px;
}

.hero-title{
    padding-inline-start: 15px;
    font-size: 2.8rem;
    font-weight: 700;

}

.hero-text{
    margin-block-end: 30px;
    padding-inline-start: 15px;
    font-size: 1.25rem;
    font-weight: bold;
}



.hero .wrapper{
    padding-inline-start: 16px;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
}


/* LEARNING */
.section.learning{
    background-color: #F8F8FF;
}

.learning .section-title{
    font-size: var(--fontSize-5);
    
}

.section-subtitle{
    margin-block-start: 30px;
    color: var(--bg-majorelle-blue);
    font-weight: var(--weight-semiBold);
    font-size: 1.3rem;
    
}

.section-title{
    
    font-size: var(--fontSize-4);
    font-weight: var(--weight-bold);
    margin-block-end: 10px;

}

.learning .container{
    display: grid;
    gap: 25px;
    width: 90%;
    margin: auto;
    margin-block-start: -30px;
    padding-inline-start: 0;
    
}

.learning .section-text{
    font-size: var(--fontSize-7);
}


.service-card {
    padding: 40px 20px;
    border-radius: var(--radius-20);
    box-shadow: var(--shadow-2);
    width: 100%;
   

}

.service-card:is(:hover){
    background-color: var(--bg-majorelle-blue);
    color: var(--text-white);
    
}

.card-text{
    margin-block-end: 10px;
}

.service-card .card-title{margin-block: 10px 5px;}

.service-card .btn-green{
    margin: auto;
}


.container .service-card{
    margin-inline-start: 10px;
}


/* ABOUT US*/

.about-content{
    margin-block-start: -10px;
}
.about .container{
    display: grid;
    gap: 50px;
}

.about .section-text{margin-block-end: 20px;}

.about-item{
    gap: 10px;
    display: flex;
    padding-block-start: 20px;
}

.about-icon{
    position: relative;
    top: -3px;
    font-size: 3.2rem;
    color: var(--bg-green-salsa);
}


/* COMPANIES */
 .companies .container{
    margin-block-start: -60px;
    text-align: center;
    
}

.companies .title{
    font-size: var(--fontSize-5);
}

.companies .section-text{
    font-size: 1.4rem;

}

.companies-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.companies .item-banner{ margin-block-start: 20px;}

/* TESTIMONIES */
.testi .container{
    margin-block-start: -50px;
}

.testi .testi-content{
    text-align: center;
}

.testi-content .section-text{
    margin-block-end:30px;
}

.testi-content .section-title{
    margin-block-start: 15px;
}

.user-list{
    display: grid;
    gap: 25px;
}

.user-card{
    padding: 10px;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-20);
}

.user-icon{
    width: 60px;
    height: 60px;
    background-image: url(../../assets/img/gallery-1.jpg);
    background-size: contain;
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
    margin-inline: auto;
    margin-block: 10px;
}

/* CTA */

 .cta .container{
    color: var(--text-white);
    border-radius: var(--radius-20);
}

.cta .section-title{
    color: white;
}

.cta-card{
    padding: 60px 20px;
    text-align: center;
}

.cta .section-title .img{display: inline-block;}

.cta .section-title{margin-block: 0 20px;}

.cta .btn{
    margin-block-start: 10px;
    margin-inline: auto;
}

/* FOOTER */

.footer-top{
    margin-block-start: -100px;
    display: grid;
    gap: 40px;
    padding-block: 60px;
    grid-template-columns: 1fr 1fr;
}

.footer-list-title{
    color: var(--text-gunmetal);
    font-size: var(--fontSize-5);
    font-weight: var(--weight-semiBold);
    margin-block-end: 15px;
}

.footer-link{margin-block-start: 5px;}

.footer-link:is(:hover, :focus-visible){
    color: var(--text-majorelle-blue);
    }


    /* MEDIA QUERIES */
    @media (min-width: 575px){
        /* REUSABLE */
        .container{
            max-width: 540px;
            width: 100%;
            margin-inline: auto;
        }

        /* HEADER  */
        .navbar{
            padding-inline: 40px;
            padding-block-start: 40px;
        }

        /* HERO */
        .hero-text{max-width: 100ch;}

        .hero .wrapper{
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .hero .btn{
            margin-inline-start: 60px;
            justify-content: space-between;
        }

        /* LEARNINGS */
        .learning .container{
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
    }

    .learning .section-title{
        font-size: var(--fontSize-4);
        font-weight: var(--weight-bold);
    
    }

    .learning .section-text{
        font-size: var(--fontSize-6);
    }

    /* COMPANIES */
    .companies .section-title{
        font-size: var(--fontSize-3);
        max-width: 100%;
    }
    .companies-list{
        margin-inline-start: 65px;
    }

    /* TESTIMONY */
    .user-list{
        grid-template-columns: 1fr 1fr;
    }

    }


    /* FOR LARGER THAN 768PX */
    @media (min-width: 768px){
        /* CUSTOM PROPERTY */
        :root{
            /* TYPOGRAPHY */
            /* font size */
            --fontSize-1: 4.8rem;
            --fontSize-2: 4rem;
            --fontSize-3: 2.8rem;
            --fontSize-4: 2.6rem;
            --fontSize-5: 2.2rem;
            --fontSize-6: 1.6rem;
    
    
             /* Spacing */
             --section-spacing: 120px;
        }

        /* REUSABLE */
        .container{max-width: 720px;}

        .btn{
            height: 45px;
            padding-inline: 40px;
        }
        .section-subtitle{
            font-size: var(--fontSize-6);
        }

        /* PRELOADER */
        .preloader .img{width: 80px;}


        /* HERO */
        .hero-subtitle{
            font-size: 1.8rem;
            padding: 10px 30px;
        }

        .hero .hero-title{
            font-size: var(--fontSize-2);
        }

        .hero-text{
            font-size: var(--fontSize-6);
            font-weight: var(--weight-medium);
        }

        

        .hero .wrapper{
            gap: 5px;
            justify-content:center
            
        }

        .hero-banner{
            max-width: 500px;
            margin-inline: auto;
        }

        /* LEARNING */
        .learning .container{
            gap: 35px;}

       .learning .section-title{
           font-size: var(--fontSize-3);
           font-weight: var(--weight-bold);
            
            }

        /* ABOUT US */
        .about .section-title{
            font-size: var(--fontSize-2);
        }

    

        .about-banner{
            max-width: 500px;
            margin-inline: auto;
        }

        /* COMPANIES */

        .companies .section-title{
            font-size: 3.5rem;
        }

        .companies .section-text{
            font-size: var(--fontSize-6);
        }

        .companies-list{
            margin-inline-start: 130px;
        }

        /* TESTIMONY */
        .testi .section-title{
            font-size: var(--fontSize-3);
            font-weight: var(--weight-bold);
        }

        .testi .section-text{
            font-size: var(--fontSize-6);
        }
    }


    @media(min-width: 992px){
        /* REUSABLE STYLE */
        .container{max-width: 990px;}
     
         /* HEADER */

         .nav-toggle-btn,
         .navbar-top,
         .overlay{
         display: none;
    }

        .navbar, 
        .navbar.active{
            all: unset;
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        .navbar-list{
            margin-block-start: 0;
            display: flex;
            gap: 30px;
            margin-inline: auto;
        }

        .navbar-link.hero-btn:is(:hover, :focus-visible, .active){transform: unset;}

        .navbar-link::before{
            width: 10px;
            height: 3px;
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .header-action{
            border: none;
            padding-block-start: 0;
            gap: 30px;
        }

        .header.active{
            padding-block: 15px;
        }

        /* HERO */

        .hero .container {
            display: flex;
            flex-direction: row-reverse;
            grid-template-columns:  1fr 1fr;
            gap: 0;
            align-items: center;
        }
        .hero .wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            text-align: center;
            margin-inline-start: -100px;
        }

        .hero .btn{
            margin-inline-start: 0;
            justify-content: space-between;
        }

        .about .container{
            grid-template-columns:1fr 1fr;
            align-items: center;
            gap: 80px;
        }

        .about-content{
            order: 1;
            margin-block-start: -90px;
        }

        .about-item{
            margin-block-start: 0px;
            gap: 0px;
            align-items: flex-start;
        }

        .about-banner{
            margin-block-start: 30px;
        }

       /* COMPANIES */
       .companies-list{
        margin-inline-start: 230px;
       }

       .user-list{grid-template-columns: 1fr 1fr 1fr;}

       .user-item:nth-child(n+3){
            grid-column: auto;
            grid-row: 1/3;

       }

       /* CTA */

       .cta-card .wrapper{
            max-width: 350px;
            display: flex;
            flex-wrap: nowrap;
            margin-inline-start: 290px;
            
       }
    
       /* FOOTER */
       .footer-list-title{
        color: var(--text-gunmetal);
        font-size: var(--fontSize-3);
        font-weight: var(--weight-semiBold);
        margin-block-end: 15px;
    }
    
    
    }
    /* LARGER THAN 1200 */
    @media (min-width: 1200px){
          /* CUSTOM PROPERTIES */

    :root{
        /* TYPOGRAPHY */
        --fontSize-1: 6.4rem;
        --fontSize-2: 4.8rem;
        --fontSize-3: 3rem;
    }

        /* RESUABLE STYLE */

        .container{max-width: 1150px;}

            
        /* HEADER */

        .header .logo img{width: 150px; margin-block-start: 5px;}

        .navbar-list{gap: 50px;
        }

        .header-action{margin-block-start: 0px;}

      /* HERO */
      .hero-title{
        max-width: 700px;
      }

      .hero .hero-title{
        font-size: 5.5rem;
      }
      .hero-text{
        font-size: 1.8rem;
      }

      .hero-content .wrapper{
        margin-inline-start: -255px;
      }

      .learning .container{
        
        grid-template-columns: repeat(4, 1fr);
      }

      .learning .title-wrapper{grid-column: span 4;}

      .learning .section-title{
        font-size: 4rem;
        max-width: 800px;
      }

      .learning .section-text{
        font-size: 2rem;
      }


      .companies .section-title{
        font-size: 4.5rem;
      }

      .companies .section-text{
        font-size: 2rem;
      }

      .companies-list{
        margin-inline-start: 300px;
      }

      /* TESTIMONIES */
      .testi .section-title{
        font-size: 3.9rem;
      }

      .testi .section-text{
        font-size: 2rem;
      }

      /* CTA */
      .cta .wrapper{
        margin-inline-start: 370px;
        margin-block-start: 15px;
      }

      /* FOOTER */

      .footer-top{
        grid-template-columns: 2fr 1fr  1fr 1fr;
        gap: 90px;
    }

    .footer-brand .footer-text{
        margin-block: 25px 30px;
        
    }

    .footer-brand .logo img{
        width: 150px;
    }

    }


      /* LARGER THAN 1400 */
      @media (min-width: 1400px){
            /* CUSTOM PROPS */
        :root{
            /* TYPOGRAPHY */
            --fontSize-1: 7.2rem;
            

        }

        /* REUSABLE */
        .container{max-width: 1350px;}

        /* HEADER */
        .navbar-list{gap: 70px;}

        /* HERO */
        .hero-content .wrapper{
            margin-inline-start: -450px;
          }

        /* SERVICE */
        .learning .section-title{margin-block-end: 20px;}

        /* ABOUT */
        .about .section-title{
            font-size: 5rem;
            
        }

        /* TESTI */
        .user-list{grid-template-columns: 1fr 1fr 1fr 1fr;}

        /* COMPANIES */
        .companies-list{
            margin-inline-start: 400px;
        }

        /* CTA */
        .cta .wrapper{
            margin-inline-start: 470px;
        }





        

    }